apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: atlantis
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://runatlantis.github.io/helm-charts
      chart: atlantis
      targetRevision: 5.10.0
      helm:
        releaseName: atlantis
        valueFiles:
          - $values/application/atlantis/values.yaml
    - repoURL: https://github.com/yadon-infra/manifest
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: atlantis
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
