apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: plane
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://helm.plane.so
      chart: plane-ce
      targetRevision: 1.5.0
      helm:
        releaseName: plane
        valueFiles:
          - $values/plane/values.yaml
    - repoURL: https://github.com/yadon-infra/manifest
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: plane
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
