apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - ksops-generator.yaml

configMapGenerator:
  - name: cloudflared-config
    files:
      - config.yaml

generatorOptions:
  disableNameSuffixHash: false  

resources:
  - deployment.yaml
  - config.yaml
