apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - ingress.yaml

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.1.0
    releaseName: argocd
    namespace: argocd
    valuesFile: values.yaml

generatorOptions:
  disableNameSuffixHash: true
